.loginPageBaseContainer{
  height: 100vh;
  width: 100%;
  background-color:var(--baseColor);
  display: flex;
  align-items: center;
  justify-content: center;

}

.loginPageContentBaseContainer {
  width: 70%;
  height: 70%;
  background-color: var(--slateColor);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.loginPageContentImageContainer {
  flex: 1;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
  overflow: hidden;
  border-radius: 15px;
}

.loginPageContentImageContainer img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.loginPageInputContainer {
  flex: 1;
  background-color:rgb(255, 255, 255);
  height: 100%;
  width:100%;
  font-size: large;
}
.loginPageInputContainer h1{
  font-size: larger;
}
.loginPageInputContainer h2{
  font-size: larger;
}
.loginPageInputContainer img{
  height:30px;
  width:40px;
}
.loginPageInputContainer{
  display:flex;
  flex:1;
  gap:10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: larger;
  border-radius: 30px;
  font-size: larger;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}
.loginPageBaseContainer{
  height: 100vh;
  width: 100%;
  background-color:var(--baseColor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;

}

.loginPageInputContainer CustomButton{
     font-size: larger;
     padding:10px;
     align-items: center;
     justify-content: center;
}