.BaseContainer{
  height:100vh;
  width:100%;
  background-color:grey;
}
.SecondContainerrrr{
  height: 20vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SecondContainerrrr h1{
  text-decoration:underline;
}
.thirdpagecontainer{
  height:100vh;
  width:100%;
 background-color:whitesmoke;
padding-left: 170px;
}
.firstgrid{
  height:70vh;
  width:85%;
  border:2px solid black;
  border-radius: 8px;
  padding-left: 0px;
  padding-right: 0px;
  background-color:beige;
}
.firstgrid h1{
  font-size: 50px;
  padding-left: 170px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstgrid img{
  height:40vh;
  width:80%;
  padding-left: 170px;
}
.Secondgrid{
    height:70vh;
    width:85%;
    border:2px solid black;
    border-radius: 8px;
    padding-left: 0px;
    padding-right: 0px;
    background-color:beige;
  }

.Secondgrid h1{
  
}
  

    
    


